/** 
 * 体力条
 */
#physical-strength-indicator {
    height: 90px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 100px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s;

    path {
        fill:none;
    }

    &-used {
        stroke: #92764d;
        stroke-width:6px;
    }

    &-unused {
        stroke: #f3d75a;
        stroke-width:6px;
        transition: .2s;
    }
}

/** 
 * 提示框
 */
#hints-container {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 1px 0 #686868, 1px 1px 0 #686868,1px -1px 0 #686868,-1px -1px 0 #686868;
    font-size: 24px;
    font-weight: 550;
    color: white;

    p {
        margin: 5px;
        transition: 0.2s;
        opacity: 0;
    }
}

#main-canvas {
    transition: .1s;
}

#user-interface {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
    display: none;

    .user-interface-content {
        height: 100vh;
        width: 100vw;
        display: flex;
        transition: .3s;
        opacity: 0;
        position: fixed;
        z-index: 5;

        .menu-left {
            margin-left: 65px; 
            text-align: center;
            width: 80px; 
            height: 100vh; 
            background: linear-gradient(180deg, rgba(74, 83, 102, 1), rgba(74, 83, 102, 0.4));
            border-left-style: solid;
            border-right-style: solid;
            border-left-width: 3px;
            border-right-width: 2px;
            z-index: 5;
            box-shadow: 2px 2px 2px rgba(74, 83, 102, 0.4);
            border-image: 
                linear-gradient(
                    to bottom, 
                    rgba(216, 216, 216, 0.5), 
                    rgba(216, 216, 216, 0.3)
                ) 1 100%;

            .btn {
                border-radius: 50%;
                margin: auto;
                height: 50px;
                width: 50px;
                font-size: 30px;
                line-height: 50px;
                text-align: center;
            }

            .btn-group {
                margin-top: 240px;
                text-align: center;
                color: #d2bc8e;
                width: 100%;
                
                .btn {
                    margin: 32px auto;
                    font-size: 36px;
                }
            }

            .btn-back {
                margin: 30px auto;
                background: #ece5d8;
                color: #686868;
                outline: 5px solid rgba(236, 229, 216, 0.3);

            }

            .btn-logout {
                margin: 0px auto;
                color: #ffe09d;
                font-size: 36px;
                transform: scaleX(-1);
                position: absolute;
                bottom: 30px;
                width: 80px;
            }

        }

        .menu-right {
            width: 550px;
            height: 100vh;
            transition: .2s;
            background: linear-gradient(180deg, rgba(236, 229, 216, 1), rgba(236, 229, 216, 0.7));

            &-middle {
                margin-top: 10px;
                width: 100%; 
                height: 280px; 
                display: flex;
                background-position: center;
                background-size: cover;
                background-image: url("./assets/name-cards/bachong.jpeg");

                &-left {
                    width: 30%;
                    height: 100%;
                    padding: 40px 0;
                    text-align: center;

                    .avatar {
                        height: 90px;
                        width: 90px;
                        margin: 0 auto 20px auto;
                        border-radius: 50%;
                        border: 5px solid #e4dace;
                        outline: 8px solid rgba(236, 229, 216, 0.3);
                        background-image: url('./assets/avatars/paimon.jpg');
                        background-size: cover;
                        background-position: center;
                    }

                    .uid {
                        color: #e4dace;
                        border: 2px solid rgba(236, 229, 216, 0.7);
                        border-radius: 24px;
                        width: 120px;
                        margin: auto;
                        padding: 2px 4px;
                        background-color: rgba(71, 71, 71, 0.7);
                    }

                    .uid-copy {
                        margin-top: 6px;
                        color: #e4dace;
                        opacity: 0.8;
                    }
                }

                &-right {
                    width: 70%;
                    height: 100%;
                    padding-top: 40px;
                    font-weight: bold;
                    color: #e4dace;
                    box-sizing: border-box;
                    padding-right: 20px;

                    .bg-dark {
                        margin: 5px 0;
                        background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(74, 83, 102, 0.2), rgba(255, 255, 255, 0)); 
                    }

                    .nickname {
                        width: 100%;
                        display: flex;
                        font-size: 30px;
                        padding: 5px;
                        

                        i {
                            font-size: 38px;
                            margin: 2px 0 2px auto;
                        }
                    }

                    .exp {
                        box-sizing: border-box;
                        &-indicator {
                            height: 5px;
                            background: #c4f062;
                        }
                    }

                    .signature {
                        padding-bottom: 20px;
                        color: #cac6bc;
                    }
                }
            }

            &-bottom {
                padding: 15px;

                .btn {
                    background-color: #596170;
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    color: #e4dace;
                    margin: 10px;
                    display: inline-block;
                    border: #6e7685 3px solid;
                    outline: #596170 2px solid;

                    i {
                        margin-top: 20px;
                        margin-bottom: 5px;
                        font-size: 36px;
                    }
                }
            }

        }
    }
}

.ml-auto {
    margin-left: auto;
}